

.tex{
    border-bottom: 1px dotted #000;
    height: 13em;
}
.cover {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    padding-top: 110px;
    top:1px;
    bottom:0px;
    display: table;
}
.education-main a{
    cursor: pointer;
}
.education-main ul li h3{
    font-size: 1.1em;
}
.blog-single{
    padding-top: 0;
}
.education-main{
    padding-top: 0;
}

.main-content p{
    text-align: left;
}
.cover .container{
    width: 880px;
}
#sub{
    width: auto;
}
#li2{
    height: 70px;
    padding-bottom: 0;
}
#li2 fieldset{
    height: 100%;
}
#li2 fieldset label{
    height: 100%;
}
#contact-sec{
    padding-top: 100px;
}
#file{
    background: none;
    color: #000;
    width: auto;
    border: 1px solid #000;
    height: auto;
    padding: 0;
    margin: 0;
    color: inherit;
    background-color: initial;
    border: initial;
    box-sizing: border-box;
}
/*.radio{
    position: relative;
}
#lab1{
    width: 23%;
}
#lab2{
    width: 23%;
}
#lab3{
    width: 23%;
}
#lab4{
    width: 23%;
}
.rad{
    width: 50px;
}*/
.form-group{
    position: relative;
}

#forFile{
    position: absolute;
    left: 5px;
    height: 35px;
    line-height: 35px;
    border: 2px solid #285C81;  background: #285C81;color: #fff;
    /*background: #fff;*/
}
#forFile:hover{
    background: #fff;color:#285C81;
}
#file{
    top:7px;
    position: absolute;
    background: none;
    color:#000;
    left: 90px;
}
#up{
    margin-bottom: 40px;
}
.dmaku{text-align: center;margin-top: 20px;}
._htools-select{
    margin: 0;
    background-color: #f6f6f6;
    border: solid #f6f6f6 1px;
    vertical-align: middle;
    transition: border 0.5s;
    -moz-transition: border 0.5s;	/* Firefox 4 */
    -webkit-transition: border 0.5s;	/* Safari 和 Chrome */
    -o-transition: border 0.5s;
}
._htools-select *{
    margin: 0;
    padding: 0;
    outline: none;
}
._htools-select:hover ._select-selectbtn{
    border-top-color: #285C81;
    transition: border-top-color 0.5s;
    -moz-transition: border-top-color 0.5s;	/* Firefox 4 */
    -webkit-transition: border-top-color 0.5s;	/* Safari 和 Chrome */
    -o-transition: border-top-color 0.5s;
}
._htools-select:hover{
    border: solid #285C81 1px;
}
._htools-select ._select-input{
    color: #3b4249; display: inline-block; font-size: 14px;margin-left: 5px
}
._htools-select ._select-selectbtn{
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 13px solid gray;
    display: inline-block;
}
._htools-select ._select-select-ul{
    background-color: white; outline: none;
    /*border: solid dodgerblue 1px; border-top: none;*/
    position: relative;
    z-index: 10;
    display: none;
    -webkit-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 1px 0 10px rgba(0, 0, 0, 0.18);
    box-shadow: 1px 0 10px rgba(0, 0, 0, 0.18);
}
._htools-select ._select-select-ul li{
    background-color: white;
    color: black;
    font-size: 14px;
    padding: 3px 6px;
    cursor: pointer;
    list-style-type:none;
    transition: color 0.5s, background-color 0.5s;
    -moz-transition: color 0.5s, background-color 0.5s;	/* Firefox 4 */
    -webkit-transition: color 0.5s, background-color 0.5s;	/* Safari 和 Chrome */
    -o-transition: color 0.5s, background-color 0.5s;
}
._htools-select ._select-select-ul li._select-li-selected{
    background-color: #cfd9d7;
}
._htools-select ._select-select-ul li:hover{
    background-color: #285C81;
    color: white;
}
.form-group p{
    text-align: left;
}
.zoom-icons p{
    font-size: 20px;
    color: #fff;
}
#upl{
    margin-bottom: 0;
}