.container .count{
    font-size: 1.5em;
}
.blog-comment{
    padding-top: 0;
}
.blog-comment .main-content{
    padding-top: 0;
}
#father{
    padding-top: 10px;
}
/*.blog-comment .container{
    padding-top: 1em;
    margin-bottom: 2em;
    padding-left: 10em;
    padding-right: 10em;
}
.blog-comment .comment{
    width:100%;
    height:auto;
    line-height: 1.5em;
    border-bottom: 1px dotted #000;
    margin: 0 auto;
    margin-bottom: 1em;

}*/
.blog-comment .comment{
    height:auto;
    border-bottom: 1px dotted #000;
    padding: 1em;
}
.blog-comment .comment p{
    line-height: 1.2em;
    text-align: left;
    margin: 0;
}
.tex{
    border-bottom: 1px dotted #000;
    height: 13em;
}
.blog-comment textarea{
    height: 10em;
    background: none;
    border: 1px solid #000;
    color: #000;
    margin-bottom: 1em;
    padding: 0.5em;
}
.blog-ttl-sec .po{
    cursor: pointer;
}
.cover {
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    position:absolute;
    padding-top: 110px;
    top:1px;
    bottom:0px;
    display: table;
}
.education-main a{
    cursor: pointer;
}
.education-main ul li h3{
    font-size: 1.1em;
}
.blog-single{
    padding-top: 0;
}
.education-main{
    padding-top: 0;
}
.blog-sec{
    margin-bottom: 0;
    padding-bottom: 20px;
}
.main-content p{
    text-align: left;
}
#contact-sec{
    padding-top: 100px;
}